<h2 mat-dialog-title>Créer une nouvelle tâche</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="full-width">
    <mat-label>Titre</mat-label>
    <input matInput placeholder="Titre de la tâche" [(ngModel)]="task.title">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description de la tâche" [(ngModel)]="task.description"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>User</mat-label>
    <mat-select required placeholder="Please choose an User" [(ngModel)]="task.assignedUserId">
      <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button cdkFocusInitial (click)="save()">Confirmer</button>
</mat-dialog-actions>