<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SKAIKRU</a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openCreateTaskDialog()">
            Créer
          </a>
        </li>
      </ul>
      <span class="profile-circle">
          NB
        </span>
    </div>
  </div>
</nav>
