.profile-circle {
  height: 4rem;
  width: 4rem;
  box-shadow: grey 0px 2px 4px 0px, grey 0px 2px 16px 0px;
  color: black;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
