<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">{{status}}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let task of tasks"
        [attr.data-task-id]="task.id"
        cdkDrag
        class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
          <!-- Boutons d'action -->
          <button type="button" class="btn btn-primary btn-sm" (click)="openCreateTaskDialog(task)">Modifier</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Supprimer</button>
        </div>
      </div>
    </li>
  </ul>
</div>
