/* login.component.css & register.component.css */

/* Conteneur général pour centrer le formulaire */
.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Style du formulaire */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
  background-color: #007bff;
  color: white;
}

/* Boutons et liens */
button[type="submit"] {
  width: 100%;
  margin-top: 10px;
}

.btn-link {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

/* Espacement et alignement des éléments du formulaire */
.form-label, .form-control {
  margin-bottom: 10px;
}

/* Texte au bas du formulaire pour la navigation entre les pages */
.text-center {
  margin-top: 20px;
}
