<header>
  <app-header (update)="loadTasks()"></app-header>
</header>
<main>
  <div cdkDropListGroup class="status-containers">
    <div cdkDropList
         #todo="cdkDropList"
         id="toDoList"
         [cdkDropListData]="toDoList"
         [cdkDropListConnectedTo]="[inProgress, done]"
         (cdkDropListDropped)="drop($event)">
      <app-status (update)="loadTasks()" [status]="'To Do'" [tasks]="toDoList"></app-status>
    </div>
    <div cdkDropList
         #inProgress="cdkDropList"
         id="inProgressList"
         [cdkDropListData]="inProgressList"
         [cdkDropListConnectedTo]="[inReview, done]"
         (cdkDropListDropped)="drop($event)">
      <app-status (update)="loadTasks()" [status]="'In Progress'" [tasks]="inProgressList"></app-status>
    </div>
    <div cdkDropList
         #inReview="cdkDropList"
         id="inReviewList"
         [cdkDropListData]="inReviewList"
         [cdkDropListConnectedTo]="[inProgress, done]"
         (cdkDropListDropped)="drop($event)">
      <app-status (update)="loadTasks()" [status]="'In Review'" [tasks]="inReviewList"></app-status>
    </div>
    <div cdkDropList
         #done="cdkDropList"
         id="doneList"
         [cdkDropListData]="doneList"
         [cdkDropListConnectedTo]="[inReview]"
         (cdkDropListDropped)="drop($event)">
      <app-status (update)="loadTasks()" [status]="'Done'" [tasks]="doneList"></app-status>
    </div>
  </div>
</main>
<footer>
  COPYRIRIGHT SKAIRU
</footer>
