<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Inscription</h5>
        <div class="card-body">
          <form (ngSubmit)="registerUser()">
            <div class="mb-3">
              <label for="email" class="form-label">Adresse Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de Passe</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Inscription</button>
          </form>
          <hr>
          <p class="text-center">Déjà inscrit ? <button class="btn btn-link" (click)="navigateToLogin()">Connectez-vous</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
